
#viewport	{
	position: absolute;
	width: 100%;
	top: 100px;
}


#main {

	position: relative;
	height:400px;
	width:600px;
	
	left:50%;
	margin-left: -300px;
	
}


img {
	position: relative;
	top:50%;
	left:50%;
	margin-left: -135px;
	margin-top: -47px;
	height:95px;
	width:269px;
	padding-top: 180px;
}

#search {
	position: relative;
	top: 15px;
	margin: auto;
	width:550px;
	height: 20px;
	display: block;
}

#button	{
	position: relative;
	top: 30px;
	margin: auto;
	display: block;
	width:550px;
	}

.button {
	position: relative;
	left:150px;
}

#navbar	{
	position: fixed;
	top:0;
	display: block;
	height: 30px;
	width:100%;

}

.nav-right {
	float:right;
	margin: 10px;
	display: inline-block;
	text-decoration: none;
	margin-right: 10px;
}

#dp {
	background-image: url('photo.jpg');
	border-radius: 50%;
	height: 32px;
	width: 32px;
	margin-top: 15px;
}

#share {
	background-image: url('nav-img.png');
	background-position: -326px -17px;
	height: 30px;
	width: 30px;
	margin-top: 15px;
	
}

#notif {
	background-color: rgba(0, 0, 0, 0.54902);
	background-image: url(https://ssl.gstatic.com/gb/images/i1_71651352.png);
	background-position: -214px -117px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin-top: 20px;

}

#apps {
	background-image: url('nav-img.png');
	background-position: -326px -52px;
	height: 32px;
	width: 32px;
	margin-top: 15px;
}

#footer	{
	position: fixed;
	bottom: 0;	
	background-color: #f2f2f2;
	display: block;
	height: 30px;
	width:100%;
	border-top: 1px solid #e4e4e4;
}

.foot-left{
	float:left;
	margin: 10px;
	display: inline-block;
	text-decoration: none;
}

.foot-right{
	float:right;
	margin: 10px;
	display: inline-block;
	text-decoration: none;
}